.index-sale{
    width: 100%;
    min-height: 222px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sale-shadow{
    width: 100%;
    height: 100%;
    padding-top: 47px;
    padding-left: 20px;
    padding-right: 22px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(56, 63, 45, 0.39), rgba(56, 63, 45, 0.39));
}
.sale_date{
    width: 100%;
    margin-bottom: 20px;
    line-height: 0.8;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-family: Avenir-Bold, sans-serif;
    text-transform: uppercase;
}
.sale_condition{
    width: 100%;
    margin: 0;
    text-align: left;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: -0.25px;
}
.sale-shadow .yellow-but{
    display: none;
    margin-top: 50px;
    padding: 14px 26px 10px 26px;
    color: #383f2d;
    font-size: 16px;
    line-height: 1.11;
}
.index-menu{
    display: none;
    justify-content: flex-start;
}
.index-menu-item{
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    text-decoration: none;
}
.index-menu_text{
    margin-left: 10px;
    font-family: Avenir-Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.index-menu_icon{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hunt.index-menu_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23FFF' transform='translate(1 1)'%3E%3Ccircle cx='10' cy='10' r='10' opacity='.3'/%3E%3Ccircle cx='10' cy='10' r='6'/%3E%3Cpath stroke-linecap='square' d='M10 14.5v2.981'/%3E%3Ccircle cx='10' cy='10' r='1'/%3E%3Cpath stroke-linecap='square' d='M10 2.5v3M14.5 10h3M5.5 10H2.358'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.fish.index-menu_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23FFF' transform='translate(1 1)'%3E%3Ccircle cx='10' cy='10' r='10' opacity='.3'/%3E%3Cg transform='translate(3 1)'%3E%3Cpath d='M10.9 10.828c1.562-1.562 2.033-3.919 1.414-7.07-3.152-.62-5.51-.149-7.071 1.414-1.562 1.562-2.034 3.919-1.415 7.07 3.152.62 5.51.149 7.071-1.414z'/%3E%3Cpath stroke-linecap='square' d='M3.707 13.002c.435 2.065.386 3.063-.147 2.995C2.68 15.884 0 13.03 0 12.344c0-.414.966-.454 2.898-.122a1 1 0 0 1 .809.78z'/%3E%3Ccircle cx='9' cy='6.929' r='1'/%3E%3Cpath stroke-linecap='round' d='M10 10.429v3M2.5 6h3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.tourism.index-menu_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23FFF'%3E%3Cg transform='translate(1 1)'%3E%3Ccircle cx='10' cy='10' r='10' opacity='.3'/%3E%3Cg stroke-linecap='square'%3E%3Cpath d='M10.368 3.373c3.294 1.713 4.568 2.805 3.824 3.275-1.17.74-7.691.573-8.501-.09-.514-.42.727-1.476 3.724-3.168a1 1 0 0 1 .953-.017zM10.368 7.464c3.294 1.713 4.568 2.804 3.824 3.275-1.17.74-7.691.573-8.501-.09-.514-.42.727-1.476 3.724-3.168a1 1 0 0 1 .953-.017zM10.368 11.555c3.294 1.713 4.568 2.804 3.824 3.275-1.17.74-7.691.573-8.501-.09-.514-.42.727-1.476 3.724-3.169a1 1 0 0 1 .953-.016z'/%3E%3C/g%3E%3C/g%3E%3Cpath stroke-linecap='square' d='M11 16.5v1.53'/%3E%3C/g%3E%3C/svg%3E%0A");
}



/* h2 */

.index-article_h2{
    font-family: Avenir-Medium, sans-serif;
    font-size: 21px;
    line-height: 0.85;
    color: #547128;
}
.index-article_h2 a{
    text-decoration: none;
    color: inherit;
}
.index-article_h2.dark{
    color: #000000;
}
.index-article_link{
    display: block;
    position: relative;
    padding-left: 9px;
    font-family: Avenir-Medium, sans-serif;
    font-size: 16px;
    color: #383f2d;
    letter-spacing: -0.3px;
    line-height: 1.125;
}
.index-article_link::before{
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 1px;
    height: 16px;
    background-color: #383f2d;
}

/* new and sale */

main .new,
main .sale{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 10px;
}
.sale .index-article_h2{
    color: #df5d00;
    font-family: Avenir-Bold, sans-serif;
}
.slider-dotts-header{
    align-items: center;
    justify-content: space-between;
}
.slider-dotts-header-container{
    align-items: center;
    justify-content: flex-start;
}
.slider-dotts .index-article_h2{
    margin-right: 27px;
}
.slider-dotts .slider-arrows{
    margin-right: 10px;
}
.slider-dotts-container{
    width: 100%;
    padding-top: 24px;
    padding-bottom: 27px;
    position: relative;
    overflow: hidden;
}
.slider-dotts-slider{
    width: 300%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.4s ease-out;
}
.slider-dotts-slider-item{
    width: 33.33333%;
    padding-right: 12px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.04);
}
.slider-dotts-slider-pic-folder{
    width: 103px;
    min-width: 103px;
    height: 140px;
    position: relative;
}
.slider-dotts-slider_img,
.slider-dotts-slider_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-dotts-slider_price{
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 9px 11px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 11px;
    color: #ffffff;
    background-color: #6a8e33;
}
.slider-dotts-slider-text-folder{
    max-width: 70%;
    flex-grow: 1;
    padding: 19px 13px 0 17px;
}
.slider-dotts-slider_h3{
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slider-dotts-slider_producer{
    margin-top: 7px;
    color: #9b9b9b;
    font-size: 13px;
    line-height: 18px;
}
.slider-dotts-slider .yellow-but{
    margin-top: 12px;
}
.slider-dotts-dott{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.dott_item{
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: #9b9b9b;
    margin-right: 5px;
}
.dott_item.choosed{
    width: 18px;
    background: linear-gradient(to bottom, #b4ec51, #429321); 
}
.slider-dotts .rating{
    margin-top: 8px;
}


/* types */


.types{
    width: 100%;
    margin-top: 62px;
    overflow: hidden;
}
.types-header{
    justify-content: space-between;
    padding: 0 11px 18px 11px;
}
.types-slider{
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    padding-top: 17px;
    padding-bottom: 9px;
    padding-left: 22px;
    border-top: 1px solid #dfe8d4;
    border-bottom: 1px solid #dfe8d4;
}
.types-item{
    width: 72px;
    margin-right: 19px;
}
.types_img,
.types_img img{
    width: 72px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}
.types_h3{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    max-height: 28px;
    overflow: hidden;
    color: #4a4a4a;
    font-family: Avenir-Medium, sans-serif;
    font-size: 11px;
    line-height: 1.09;
    letter-spacing: -0.1px;
    font-weight: 500;
}


/* review */


.review{
    padding: 40px 11px 0 10px;
}
.review-header{
    padding: 0 1px 18px 0px;
}
.review-item-header{
    padding: 27px 18px 13px 21px;
    align-items: flex-start;
    justify-content: space-between;
}
.review-item{
    display: flex;
    flex-direction: column;
}
.review-item_h{
    width: auto;
    flex-grow: 1;
    padding-right: 20px;
    font-family: Avenir-Medium, sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.18px;
    color: #1d1f24;
}
.review-item_img,
.review-item_img img{
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.review-item_text{
    flex-grow: 1;
    width: 100%;
    padding: 0 30px 10px 21px;
    opacity: 0.4;
    font-size: 16px;
    line-height: 1.38;
    color: #1d1f24;
}
.review-footer{
    width: 100%;
    height: 75px;
    justify-content: space-between;
    padding: 27px 18px 17px 21px;
    border-top: 1px solid #e9e9e9;
    background-color: #ffffff;
}
.review-footer-item{
    align-items: center;
}
.review-footer_count{
    margin-left: 10px;
    opacity: 0.4;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.31;
    color: #1d1f24;
}
.share .review-footer_count{
    margin-left: 11px;
}
.seen .review-footer_count{
    margin-left: 9px;
}


/* news */

.news{
    margin-top: 35px;
    padding: 0 15px 10px 24px;
}
.news-main.slider2{
    box-shadow: none;
}
.news-header{
    padding-bottom: 10px;
}
.news .index-article_h2{
    font-weight: normal;
}
.news-main{
    width: 100%;
    overflow: hidden;
}
.news-item{
    width: 100%;
    padding: 24px 0 13px 0;
    border-top: 1px solid rgba(56, 63, 45, 0.5);
    border-bottom: 1px solid rgba(56, 63, 45, 0.5);
}
.news_date{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-align: right;
    color: rgba(56, 63, 45, 0.5);
}
.news_text,
.news_link{
    display: inline;
    font-size: 12px;
    line-height: 1.5;
    color: #383f2d;
}
.news_link{
    color: #6a8e33;
}


/* article */


.article-header{
    padding: 0 5px 0 14px;
}
.article .index-article_h2{
    line-height: normal;
    font-weight: normal;
}
.article-main{
    width: 100%;
    padding: 34px 5px 31px 14px;
    overflow: hidden;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.04);
}
.article-main-scroll{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 200%;
    transition: transform 0.4s ease-out;
}
.article-item{
    width: 100%;
    padding: 17px 10px 10px 10px;
}
.article_date{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(56, 63, 45, 0.5);
}
.article-item_h{
    margin-bottom: 21px;
    font-weight: normal;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.18px;
    color: #1d1f24;
}
.article_text{
    display: inline;
    font-size: 16px;
    line-height: 1.38;
    color: #1d1f24;
}
.article_link{
    font-size: 16px;
    line-height: 1.38;
    color: #547128;
}


/* media */


@media screen and (min-width: 465px) {
    .index-sale{
        height: 260px;
    }
}
@media screen and (min-width: 601px) {
    .slider-dotts-slider{
        width: 150%;
    }
    .news-main .slider2-item{
        box-shadow: none;
    }
}
@media screen and (min-width: 767px) {
    .index-sale{
        height: 530px;
    }
    .sale_date{
        margin-top: 114px;
        font-size: 21px;
    }
    .sale_condition{
        font-size: 50px;
        max-width: 590px;
    }
    .sale-shadow{
        padding-top: 19px;
    }
    .sale-shadow .yellow-but{
        display: inline-block;
    }
    .index-menu{
        display: flex;
    }
    .types_img,
    .types_img img,
    .types-item{
        width: 163px;

    }
    .types-header{
        justify-content: flex-start;
    }
    .slider-arrows{
        margin-left: 100px;
    }
}
@media screen and (min-width: 940px) {
  .slider-dotts-header{
      justify-content: flex-start;
  }
  .slider-dotts-header-container{
      margin-right: 76px;
  }
  .article-main{
      width: 938px;
      box-shadow: none;
  }
  .article-main-scroll{
      width: 100%;
  }
  .article-item:not(:last-child){
      margin-right: 22px;
  }
  .article-item{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.04);
  }
  .types-header{
      padding: 0 11px 18px 0;
  }
  .types-slider{
      padding-left: 0;
  }
}

@media screen and (min-width: 1100px) {
    .slider-dotts-slider{
        width: 100%;
    }
    .slider-dotts-slider-item{
        width: 290px;
    }
}